.card {
    display: flex;
    flex-direction: column;
    
    padding: 0.7px;
    margin: 0.7px;
    width: 300px;
    background-color: #EEEEEE;
    }

    .card.selected {
        width: 350px;
        border: 2px solid black;

    }
    
    .card__text {
        font-size: 1.5rem;
    }

    .card__price {
        font-size: 4rem;
    }

    .footer {
        background-color: lightgray;
    }

    .blue {
        background-color: #2AC1D5;
        color: white;
    }

    .green {
        background-color: #23AE8D;
        color: white;
    }

    .red {
        background-color: #F46A5F;
        color: white;
        
    }


    .black{
        background-color: #333A44;
        color: white;
    }